Repository taikoxyz/simple-taiko-node, pull requests merged in 2024-07, with the labels that each got.

#307 feat: add proverset configs
  .env.sample
  .env.sample.hekla
  script/start-proposer-hekla.sh
  script/start-proposer.sh
Labels: area.docs

#303 chore(main): Updating both .env.sample explaining how to use REST port.
  .env.sample
  .env.sample.hekla
Labels: type.enhancement

#309 feat(proposer): remove unused `BLOCK_BUILDER_TIP`
  .env.sample
  .env.sample.hekla
  script/start-proposer-hekla.sh
  script/start-proposer.sh
Labels: type.enhancement, area.proposer

#310 feat(proposer): rm tier fee
  .env.sample
  .env.sample.hekla
  docker-compose-hekla.yml
  docker-compose.yml
  script/start-proposer-hekla.sh
  script/start-proposer.sh
  script/start-prover-relayer-hekla.sh
  script/start-prover-relayer.sh
Labels: area.client, area.prover, area.proposer
